[Desktop Entry]
Type=Application
Name=BloodLink
Comment=Open-source community communication
Exec=bloodlink
Icon=bloodlink
Terminal=false
Categories=Network;Chat;InstantMessaging;
StartupWMClass=hearth
Keywords=chat;discord;voice;im;bloodlink;
