[Desktop Entry]
Type=Application
Name=Hearth
Comment=Open-source community communication
Exec=hearth
Icon=hearth
Terminal=false
Categories=Network;Chat;InstantMessaging;
StartupWMClass=hearth
Keywords=chat;discord;voice;im;
